<section class="py-5 bg-light">

    <div class="container">

        <h2 class="text-center mb-5">Nossos parceiros</h2>

        <div class="row text-center">

            <div class="col-md-3 mb-4">
                <img src="logo-beija-flor.png"
                    class="img-fluid grayscale hover:grayscale-0 transition-all opacity-70 hover:opacity-100"
                    style="max-height: 80px;">
            </div>

            <div class="col-md-3 mb-4">
                <img src="me-beija-logo.png"
                    class="img-fluid grayscale hover:grayscale-0 transition-all opacity-70 hover:opacity-100"
                    style="max-height: 80px;">
            </div>

            <div class="col-md-3 mb-4">
                <img src="junina-beija-flor.png"
                    class="img-fluid grayscale hover:grayscale-0 transition-all opacity-70 hover:opacity-100"
                    style="max-height: 80px;">
            </div>

            <div class="col-md-3 mb-4">
                <img src="logo-beija-flor.png"
                    class="img-fluid grayscale hover:grayscale-0 transition-all opacity-70 hover:opacity-100"
                    style="max-height: 80px;">
            </div>

        </div>

    </div>

</section>