.hero {

    min-height: 70vh;

    background:
        linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),
        url("/beija-flor-junina-apresentacao-2025-sim-02.png");

    background-size: cover;

    background-position: center;

    display: flex;

    align-items: center;

}